@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247);
    --accent-font-color: rgb(53 52 48);
    --main-font-color: rgb(53 52 48);
    --button-color: rgb(53 52 48);
    --transparent-accent-color: rgb(53 52 48 / .4);
    --accent-color: rgb(255 141 203);
    --bold-title-color: rgb(255 194 230);
    --section-title-color: rgb(53 52 48);
    --rec: none;
  }
}

:root.theme-light {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247);
    --accent-font-color: rgb(53 52 48);
    --main-font-color: rgb(53 52 48);
    --button-color: rgb(53 52 48);
    --transparent-accent-color: rgb(53 52 48 / .4);
    --accent-color: rgb(255 141 203);
    --bold-title-color: rgb(255 194 230);
    --section-title-color: rgb(53 52 48);
    --rec: none;
}