@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247);
    --accent-font-color: rgb(53 52 48);
    --main-font-color: rgb(53 52 48);
    --button-color: rgb(53 52 48);
    --accent-color: rgb(255 141 203);
    --bold-title-color: rgb(255 194 230);
    --section-title-color: rgb(53 52 48);
  }

  .theme-light .header__theme-menu-button:hover {
    border: 1px solid rgb(53 52 48 / .5);
  }

  .theme-light .header__theme-menu-button:focus-visible {
   border-block-end: 1px solid var(--button-color);
  }

  .theme-light .header__rec-marker,
  .theme-auto .header__rec-marker {
    display: none;
  }

  .theme-auto .header__theme-menu-button:hover {
    border: 1px solid rgb(53 52 48 / .5);
  }
}

:root.theme-light {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247);
    --accent-font-color: rgb(53 52 48);
    --main-font-color: rgb(53 52 48);
    --button-color: rgb(53 52 48);
    --accent-color: rgb(255 141 203);
    --bold-title-color: rgb(255 194 230);
    --section-title-color: rgb(53 52 48);
}

.theme-light .header__theme-menu-button:hover {
    border: 1px solid rgb(53 52 48 / .5);
  }

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.theme-light .header__rec-marker {
  display: none;
}